receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"
  
exporters:
  otlp:
    endpoint: grafana.grafana.svc.cluster.local:4317
    tls:
      insecure: true
#  prometheus:
#    endpoint: grafana.grafana.svc.cluster.local:9090
service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp]
#    metrics:
#      receivers: [otlp]
#      exporters: [prometheus]
