apiVersion: apps/v1
kind: Deployment
metadata:
  name: reverse-proxy-apl
  namespace: reverse-proxy
spec:
  selector:
    matchLabels:
      app: reverse-proxy-apl
  template:
    metadata:
      labels:
        app: reverse-proxy-apl
    spec:
      containers:
      - name: reverse-proxy-apl
        image: reverse-proxy-apl
        imagePullPolicy: IfNotPresent #ローカルのイメージを取得する場合には必須
        env:
        - name: SPANNER_EMULATOR_HOST
          value: "spanner-emulator:9010"
        - name: SPRING_CLOUD_GCP_SPANNER_EMULATOR-HOST
          value: "spanner-emulator.reverse-proxy.svc.cluster.local:9010"
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
        ports:
        - containerPort: 8080
      - name: opentelemetry-collector
        image: otel/opentelemetry-collector
        args:
          - "--config=/etc/otel-collector/otel-collector.yaml"
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
        ports:
        - containerPort: 4317
        - containerPort: 4318
        volumeMounts:
          - mountPath: /etc/otel-collector/
            readOnly: true
            name: otel-collector-config
      volumes:
      - name: otel-collector-config
        configMap:
          name: otel-collector.yaml
          items:
          - key: otel-collector.yaml
            path: otel-collector.yaml
