apiVersion: apps/v1
kind: Deployment
metadata:
  name: reverse-proxy-apl
  namespace: reverse-proxy
spec:
  selector:
    matchLabels:
      app: reverse-proxy-apl
  template:
    metadata:
      labels:
        app: reverse-proxy-apl
    spec:
      initContainers:
      - name: spanner-init
        image: gcr.io/google.com/cloudsdktool/google-cloud-cli:slim
        env:
        - name: SPANNER_EMULATOR_HOST
          value: spanner-emulator:9010
        - name: CLOUDSDK_CORE_PROJECT
          value: test-project
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "Sleeping 10 seconds to wait for Emulator..."
            sleep 10
            
            echo "Initializing Spanner..."
            gcloud config set auth/disable_credentials true
            gcloud config set project test-project
            gcloud config set api_endpoint_overrides/spanner http://spanner-emulator:9020/
            gcloud spanner instances create test-instance --config=emulator-config --description="Test Instance" --nodes=1 || true
            gcloud spanner databases create example-db --instance=test-instance || true
            
            echo "Spanner Emulator Done"
      containers:
      - name: reverse-proxy-apl
        image: ghcr.io/tsukasahirai/reverse-proxy-apl
        imagePullPolicy: IfNotPresent #ローカルのイメージを取得する場合には必須
        env:
        - name: SPANNER_EMULATOR_HOST
          value: "spanner-emulator:9010"
        - name: SPRING_CLOUD_GCP_SPANNER_EMULATOR-HOST
          value: "spanner-emulator.reverse-proxy.svc.cluster.local:9010"
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
        ports:
        - containerPort: 8080
      - name: opentelemetry-collector
        image: otel/opentelemetry-collector
        args:
          - "--config=/etc/otel-collector/otel-collector.yaml"
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
        ports:
        - containerPort: 4317
        - containerPort: 4318
        volumeMounts:
          - mountPath: /etc/otel-collector/
            readOnly: true
            name: otel-collector-config
      volumes:
      - name: otel-collector-config
        configMap:
          name: otel-collector.yaml
          items:
          - key: otel-collector.yaml
            path: otel-collector.yaml
      imagePullSecrets:
      - name: ghcr-secret
