apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: reverse-proxy

configMapGenerator:
- name: otel-collector.yaml
  files:
  - config/otel-collector.yaml

images:
  - name: ghcr.io/tsukasahirai/reverse-proxy-apl
    newTag: v0.0.1

resources:
- apl-deployment.yaml
- apl-service.yaml
- secret/sealed-ghcr-secret.yaml