apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: reverse-proxy

configMapGenerator:
- name: otel-collector.yaml
  files:
  - config/otel-collector.yaml

images:
  - name: reverse-proxy-apl
    newTag: latest

resources:
- apl-deployment.yaml
- apl-service.yaml