apiVersion: apps/v1
kind: Deployment
metadata:
  name: spanner-emulator
  namespace: reverse-proxy
spec:
  selector:
    matchLabels:
      app: spanner-emulator
  template:
    metadata:
      labels:
        app: spanner-emulator
        gcp-auth-skip-secret: "true"
    spec:
      containers:
      - name: spanner-emulator
        image: gcr.io/cloud-spanner-emulator/emulator
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
        ports:
        - containerPort: 9010
        - containerPort: 9020